@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

/* Body */

.page {
    background-color: black;
}

.Heading {
    text-align: center
}

.card-title {
    font-weight: 400;
    font-size: 27px;
}

.facts {
    font-size: 20px;
    font-weight: 200;
}


/* NAVBAR + HEADER STYLE */

.cards {
    margin-left: 10pt;
    margin-right: 10pt;
    border-radius: 2%;
}

.navbar-text {
    color: #D0D7D0;
    font-weight: bold;
}

.body {
    line-height: 0.5;
}


/* JumboTron */

.jumbotron-image-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/new-zealand-1400x788-0ced_1400x788.jpg");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;
    text-align: center;
}

.jumbotron-image-attractions {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/napier.jpg");
    height: auto;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;
    text-align: center;
}

.jumbotron-image-history {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image/history-cover.jpg");
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;
}

.jumbotron-image-events {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/botanic-gardens.jpg");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;
    text-align: center;
}

.jumbotron-image-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/sheep3.jpg");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0;
    text-align: center;
}